<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Már teljesítetted</title>
</head>
<body>
    <h1>Úgy tűnik, ezzel a böngészővel már teljesítették a feladatokat</h1>
    <p>Kérlek csak egyszer csináld meg a feladatokat. Ha te még nem csináltad meg őket, csak olyan böngészőt használsz, amivel korábban valaki más megcsinálta, akkor kattints a gombra!</p>
    <form action="/completed" method="POST">
        <input type="submit" value="Még nem csináltam meg a feladatokat">
    </form>
</body>
</html>