<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hiba!</title>
</head>
<body>
    <h1>Valami nem stimmel</h1>
    <p style="margin-bottom: 0.5em;">Lehetséges problémák:</p>
    <ul style="margin-top: 0.5em;">
        <li>Nem kattintottál rá minden csempére, vagy volt olyan, amelyikre többször is rákattintottál</li>
        <li>Nem a megfelelő sorrendben kattintottál a csempékre</li>
    </ul>
    <form action="/tiles">
        <input type="submit" value="Újra próbálkozás">
    </form>
</body>
</html>