<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/reaction.css">
    <title>Reakció</title>
</head>
<body>
    <div id="upper">
        <h3 class="head" id="instruction">Ezen az oldalon váratlan időközönként és pozícióban
             fog megjelenni egymás után egyesével összesen 10 darab gomb.
             Kattints a gombokra, amikor megjelennek!</h3>
        <button class="head" id="start" onclick="track_reaction(event)">Mehet</button>
        <p class="head" id="label">Még hátravan:</p>
        <h3 class="head" id="count">10</h3>
    </div>
    <div id="lower">
        <button class="buttons" id="button1">Kattints ide!</button>
        <button class="buttons" id="button2">Kattints ide!</button>
        <button class="buttons" id="button3">Kattints ide!</button>
        <button class="buttons" id="button4">Kattints ide!</button>
        <button class="buttons" id="button5">Kattints ide!</button>
        <button class="buttons" id="button6">Kattints ide!</button>
        <button class="buttons" id="button7">Kattints ide!</button>
        <button class="buttons" id="button8">Kattints ide!</button>
        <button class="buttons" id="button9">Kattints ide!</button>
        <button class="buttons" id="button10">Kattints ide!</button>
    </div>
    <script src="static/js/reaction.js"></script>
</body>
</html>