<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/tiles.css">
    <title>Egérkövetés</title>
</head>
<body>
    <h3>Kattints a csempékre a rájuk írt sorrendben!</h3>
    <div id="tile_container">
        <button class="tile" id="tile_6">6.</button>
        <button class="tile" id="tile_4">4.</button>
        <button class="tile" id="tile_8">8.</button>
        <button class="tile" id="tile_2">2.</button>
        <button class="tile" id="tile_1">1.</button>
        <button class="tile" id="tile_5">5.</button>
        <button class="tile" id="tile_3">3.</button>
        <button class="tile" id="tile_9">9.</button>
        <button class="tile" id="tile_7">7.</button>
    </div>
    <script src="static/js/tiles.js"></script>
</body>
</html>